<script id="questions-template" type="text/x-handlebars-template">
  {{#each questions}}
    <div class="question-container">
      <h2>{{text}}</h2>
      {{#if options}}
        <div class="options-container">
          {{#each options}}
            <label class="option">
              {{#if (eq ../inputType "radio")}}
                <input type="radio" name="{{../text}}" value="{{value}}" required>
              {{else if (eq ../inputType "checkbox")}}
                <input type="checkbox" name="{{../text}}[]" value="{{value}}">
              {{else if (eq ../inputType "range")}}
                <input type="range" name="{{../text}}" min="{{../min}}" max="{{../max}}" value="{{value}}" required>
              {{/if}}
              {{label}}
            </label>
          {{/each}}
        </div>
      {{else if (eq inputType "textarea")}}
        <textarea name="{{text}}" required></textarea>
      {{/if}}
    </div>
  {{/each}}
  <button id="submit-btn" type="submit">Submit</button>
</script>
 <script src="question.js"></script>