<body>
  <h1>Characters</h1>
  <div class="center-container"></div>
  <div class="container">
    {{#each Characters}}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{this.images.md}}" alt="{{this.name}}">
      <div class="card-body">
        <h5 class="card-name">{{this.name}}</h5>
        <p class="card-fullName">{{this.biography.fullName}}</p>
        <p class="card-placeOfBirth">{{this.biography.placeOfBirth}}</p>
        <p class="card-race">{{this.appearance.race}}</p>
        <p class="card-gender">{{this.appearance.gender}}</p>
        <p class="card-alignment">{{this.biography.alignment}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  <div>
    <button id="load_more">Load More...</button>
  </div>

<script src="/char.js"></script>

